<ng-container *ngIf=" user$ | async as user ">
  <nav class=" border-gray-200 px-6 shadow-md" [ngClass]="colorBg">
    <div class="flex flex-wrap justify-between items-center">
      <div class="flex items-center">
        <a routerLink="/home/boards">
          <img
            loading="lazy"
            class="w-20 sm:mr-8"
            src="{{ color ? './../../../assets/images/trello-logo-gradient-white-attribution_rgb@2x.png' :'./../../../assets/images/trello-logo-gradient-neutral-attribution_rgb@2x.png'}}"
            alt="logo"
          />
        </a>
        <div class="flex items-center">
          <ul class="flex items-center space-x-2 text-sm font-medium">
            <li>
              <a
                routerLink="table"
                class="block py-3 px-4 sm:mr-0 mr-20 "
                >Workspaces</a
              >
            </li>
            <li>
              <a
                routerLink="scroll"
                class="py-3 px-4 hidden sm:block"
                >Recent</a
              >
            </li>
            <li>
              <app-button typeBtn="button" cdkOverlayOrigin
              #createMenu="cdkOverlayOrigin" [bg]=" color ? 'transparent' : ''"
              (click)="isCreate = !isCreate">
                  <span class="hidden sm:block">Create</span>
                  <fa-icon class="sm:hidden" [icon]="faPlus" />
              </app-button>
            </li>
          </ul>
        </div>
      </div>
      <div class="items-center gap-x-2 sm:flex hidden">
        <button class="">
          <fa-icon [icon]="faBell"/>
        </button>
        <button class="">
          <fa-icon [icon]="faInfoCircle"/>
        </button>
        <button
          type="button"
          class="flex rounded-full"
          aria-expanded="false"
          type="button"
          cdkOverlayOrigin
          #avatarMenu = "cdkOverlayOrigin"
          (click)="isOpen = !isOpen"
        >
          <img
            class="w-8 h-8 rounded-full"
            [src]="user?.avatar"
            alt="user photo"
          />
        </button>
      </div>
    </div>
  </nav>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="avatarMenu"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="isOpen = false"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
    (detach)="isOpen = false"
    style="top: 30px; right: 0;"
  >
    <div
    class="z-50 my-4 w-60 text-base list-none bg-white rounded divide-y divide-gray-100 shadow "
    >
      <div class="py-3 px-4 flex justify-between">
        <span class="block text-sm text-center text-gray-900">Account</span>
      </div>
      <div class="py-3 px-4 flex items-center space-x-4">
        <img
          class="w-10 h-10 rounded-full"
          [src]="user?.avatar"
          alt=""
        />
        <div class="space-y-1">
          <div>{{user?.name}}</div>
          <div class="text-sm text-gray-500">{{user?.email}}</div>
        </div>
      </div>
      <ul class="py-1" >
        <li>
          <a
            href="#"
            class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            >Profile</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            >Activity</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            >Cards</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            >Settings</a
          >
        </li>
      </ul>
      <ul class="py-1">
        <li>
          <button class="block py-2 px-4 text-sm text-gray-700" (click)="logout()">Log out</button>
        </li>
      </ul>
    </div>
  </ng-template>

  <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="createMenu"
  [cdkConnectedOverlayOpen]="isCreate" [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="isCreate = false" [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
  (detach)="isOpen = false">
  <div
    class="z-50 my-4 w-80 text-base list-none bg-white rounded divide-y divide-gray-100 shadow "
    >
      <div class="py-3 px-4 flex justify-center">
        <span class="block text-sm font-semibold text-center text-gray-900">Create Bord</span>
      </div>
      <div class="py-3 px-4 flex items-center space-x-4">
        <app-create-board (closeOverlay)="closeOnCreate()"/>
      </div>
    </div>
  </ng-template>
</ng-container>
