<div class="bg-white rounded sm:shadow py-4 px-8 text-sm">
  <div class="mb-4 px-2">
    <h1 class="text-center font-semibold pt-4 pb-8">Recuperar clave</h1>
    <form action="" class="space-y-4 font-light" >
      <p class="font-semibold">Enviar correo de recuperacion al email</p>
      <div class="">
        <input type="email" placeholder="Enter email"
        class="w-full text-sm  rounded bg-[#fafbfc] border-2 border-gray-300">
      </div>
      <div>
        <app-button type="submit" bg="success" class="w-full">
          <span class="bg-success">
            Enviar email
          </span>
        </app-button>
      </div>
    </form>
    <hr class="solid my-5">
    <div class="flex justify-center text-[#0052cc]">
      <a routerLink="/login" class="mr-2 hover:underline" href="">Already have an account? log in </a>
      &bull;
      <a routerLink="/signup" class="ml-2 hover:underline" href="">Sign up for an account</a>
    </div>
  </div>
</div>
