<div class="bg-white rounded sm:shadow py-4 px-8 text-sm">
  <div class="mb-4 px-2">
    <h1 class="text-center font-semibold pt-4 pb-8">Sign up to Trello</h1>
    <form action="" class="space-y-4 font-light" >
      <div class="">
        <input type="email" placeholder="Enter full name"
        class="w-full text-sm  rounded bg-[#fafbfc] border-2 border-gray-300">
      </div>
      <div class="">
        <input type="email" placeholder="Enter email"
        class="w-full text-sm  rounded bg-[#fafbfc] border-2 border-gray-300">
      </div>
      <div class="">
        <input type="password" placeholder="Enter password"
        class="w-full text-sm rounded bg-[#fafbfc] border-2 border-gray-300">
      </div>
      <div class="relative">
        <input type="email" placeholder="Repeat email"
        class="w-full text-sm  rounded bg-[#fafbfc] border-2 border-gray-300">
      </div>
      <div>
        <app-button type="submit" bg="success" class="w-full">
          <span class="bg-success">
            Continue
          </span>
        </app-button>
      </div>
    </form>
    <hr class="solid my-5">
    <div class="flex justify-center text-[#0052cc]">
      <a routerLink="/forgot-password" class="mr-2 hover:underline" href="">Can't log in? </a>
      &bull;
      <a routerLink="/login" class="ml-2 hover:underline" href="">Already have an account? log in</a>
    </div>
  </div>
</div>
