<div class="bg-white rounded sm:shadow py-4 px-8 text-sm">
  <div class="mb-4 px-2">
    <h1 class="text-center font-semibold pt-4 pb-8">Log in to Trello</h1>
    <form action="" class="space-y-4 font-light" [formGroup]="form" (ngSubmit)="doLogin()">
      <div class="relative">
        <input type="email" placeholder="Enter email" formControlName="email" #nameInput
        class="w-full text-sm  rounded bg-[#fafbfc] border-2 border-gray-300">
        <button type="button" class="p-2 absolute right-2" (click)="nameInput.focus()">
          <fa-icon [icon]="faPen"></fa-icon>
        </button>
        <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
          <p
            *ngIf="form.controls.email.hasError('required')"
            class="font-medium text-red-500 text-xs mt-1 ml-1"
          >
            This field is mandatory
          </p>
          <p
            *ngIf="form.controls.email.hasError('email')"
            class="font-medium text-red-500 text-xs mt-1 ml-1"
          >
            This field should be a email
          </p>
        </div>
      </div>
      <div class="relative">
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter password" formControlName="password"
        class="w-full text-sm rounded bg-[#fafbfc] border-2 border-gray-300">
        <button type="button" class="p-2 absolute right-2" (click)="showPassword = !showPassword">
          <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
        </button>
        <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
          <p
            *ngIf="form.controls.password.hasError('required')"
            class="font-medium text-red-500 text-xs mt-1 ml-1"
          >
            This field is mandatory
          </p>
          <p
            *ngIf="form.controls.password.hasError('minlength')"
            class="font-medium text-red-500 text-xs mt-1 ml-1"
          >
            This field should be greater than 6 characters
          </p>
        </div>
      </div>
      <div>
        <app-button type="submit" bg="success" class="w-full">
          <span class="bg-success">
            Continue
          </span>
        </app-button>
      </div>
    </form>
    <hr class="solid my-5">
    <div class="flex justify-center text-[#0052cc]">
      <a  class="mr-2 hover:underline" href="">Can't log in? </a>
      &bull;
      <a class="ml-2 hover:underline" href="">Sign up for an account</a>
    </div>
  </div>
</div>
