<div class="p-6 bg-gray-100 relative rounded shadow">
  <button (click)="close()" type="button" class="absolute top-3 right-3 focus:outline-none p-2">
    <fa-icon [icon]="faClose"></fa-icon>
  </button>
  <div class="flex space-x-2 mb-5">
    <fa-icon class="text-gray-800" [icon]="faCheckToSlot"></fa-icon>
    <div class="flex flex-col">
      <h3 *ngIf="!editingTitle" class="text-lg font-semibold text-gray-800" (click)="editingTl()">{{card.title}}</h3>
      <p *ngIf="!editingTitle" class="text-sm text-gray-500">in list {{listTitle}}</p>
      <input class="w-full text-sm rounded bg-gray-100 border-gray-300 border-2" *ngIf="editingTitle"
      type="text" [formControl]="editableTask"
      (keydown.escape)="editingTitle = false" (blur)="editTl() "/>
    </div>
  </div>
  <div class="flex w-full gap-4">
    <div class="flex space-x-2 mb-5 w-4/6">
      <fa-icon class="text-gray-800" [icon]="faBars"></fa-icon>
      <div class="flex flex-col">
        <h3 class="text-lg font-semibold text-gray-800">Description</h3>
        <app-button bg="transparent" *ngIf="!card.description && !editingDesc" (click)="editingDesc = true">
          <span class=" w-full rounded bg-slate-400 flex p-2"> <fa-icon class="mr-2" [icon]="faPlus" /> Add description</span>
        </app-button>
        <p *ngIf="!editingDesc" class="text-sm text-gray-500" (click)="editingDc()">{{card.description}}</p>
        <textarea class="w-[200%] resize-none text-sm rounded bg-gray-100 border-gray-300 border-2"
        *ngIf="editingDesc" type="text" [formControl]="editableDesc"
        (keydown.escape)="editingDesc = false" (blur)="editDc() "></textarea>
        <!-- <button (click)="closeWithRta(true)" >resend</button> -->
      </div>
    </div>
    <div class="flex flex-auto space-y-2 flex-col">
      <button
        class="w-full font-medium rounded text-sm text-left px-5 py-2  focus:ring-4 bg-gray-200 hover:bg-gray-500 focus:ring-gray-50"
        type="button">
        <fa-icon class="text-gray-800" [icon]="faUser"></fa-icon>
        Members
      </button>
      <button
        class="w-full font-medium rounded text-sm text-left px-5 py-2  focus:ring-4 bg-gray-200 hover:bg-gray-500 focus:ring-gray-50"
        type="button">
        <fa-icon class="text-gray-800" [icon]="faTag"></fa-icon>
        Labels
      </button>
      <button
        class="w-full font-medium rounded text-sm text-left px-5 py-2  focus:ring-4 bg-gray-200 hover:bg-gray-500 focus:ring-gray-50"
        type="button">
        <fa-icon class="text-gray-800" [icon]="faCheckSquare"></fa-icon>
        Checklist
      </button>
      <button
        class="w-full font-medium rounded text-sm text-left px-5 py-2  focus:ring-4 bg-gray-200 hover:bg-gray-500 focus:ring-gray-50"
        type="button">
        <fa-icon class="text-gray-800" [icon]="faClock"></fa-icon>
        Dates
      </button>
    </div>
  </div>
</div>
